$primary: rgb(129, 3, 213);
$hover: rgba(129, 3, 213, 0.801);

@import 'bootstrap/scss/bootstrap';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.btn {
  margin: 10px;
  padding: 7px 23px 7px 23px;
  color: rgb(47, 47, 47);
  border: 3px solid $primary;
  border-radius: 0;
}

.btn:hover {
  color: white;
  background-color: $hover;
}
