
<div class="container"><p class="between text-end mt-3">(Between 1 and 20)</p></div>

<div class="number">?</div>

<main class="container game">
  <section class="left">
    <input type="number" min="1" class="guess" />
    <button class="btn">Check !</button>
  </section>

  <section class="right">
    <p class="label label-message">Start guessing...</p>
    <p class="label label-score">💯 Score: <span class="score">20</span></p>
    <p class="label label-highscore">
      🥇 Highscore: <span class="highscore">0</span>
    </p>
  </section>
</main>
